<template>
  <div class="w-7/12 h-screen overflow-scroll bg-white text-gray-900">
    <!-- <UIState state="empty" message="No Note Selected" /> -->
    <div class="p-8">
      <TipTap class="focus:outline-none" />
    </div>
  </div>
</template>

<script>
import TipTap from "@/components/Note/TipTap";
export default {
  name: "Editor",
  components: {
    TipTap
  }
};
</script>

<style>
</style>
