<template>
  <div class="px-5 border-t py-4 hover:bg-white">
    <h3 class="text-lg self-center">{{ title }}</h3>
    <div class="flex text-xs text-gray-600 mt-1">
      <div class="w-4/6">{{ excerpt }}</div>
      <div class="w-2/6 self-end text-right">
        <!-- <span class="bg-gray-400 py-1 px-2 rounded font-bold text-gray-700 text-xs">33 min ago</span> -->
        <span>{{ timeSince }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListItem",
  props: [title, note, last_modified],
  computed: {},
  methods: {
    timeSince: function(date) {
      let seconds = Math.floor((new Date() - date) / 1000);
      let interval = Math.floor(seconds / 3600);
      if (interval > 1) {
        return interval + " Hours Ago";
      }
      interval = Math.floor(seconds / 60);
      if (interval > 1) {
        return interval + " Minutes Ago";
      }
      return Math.floor(seconds) + " Seconds Ago";
    }
  }
};
</script>

<style>
</style>
