<template>
  <div class="h-screen overflow-scroll w-3/12 bg-gray-200 text-gray-800">
    <div class="h-20 px-5 flex flex-row select-none justify-between">
      <div class="self-center tracking-wider text-lg text-gray-800">All Notes</div>
      <div class="self-center">
        <Icon name="search" size="20" class="text-gray-600" />
      </div>
    </div>
    <div class="px-5 border-t py-4 hover:bg-white">
      <h3 class="text-lg self-center">The Value of Science</h3>
      <div class="flex text-xs text-gray-600 mt-1">
        <div class="w-4/6">When I was younger, I thought science would make good things ...</div>
        <div class="w-2/6 self-end text-right">
          <!-- <span class="bg-gray-400 py-1 px-2 rounded font-bold text-gray-700 text-xs">33 min ago</span> -->
          <span>33 min ago</span>
        </div>
      </div>
    </div>
    <div class="px-5 border-t py-4 hover:bg-white">
      <h3 class="text-lg self-center">Rob Pike's 5 Rules of Programming</h3>
      <div class="flex text-xs text-gray-600 mt-1">
        <div class="w-4/6">You can't tell where a program is going to spend its time ...</div>
        <div class="w-2/6 self-end text-right">
          <span>42 min ago</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
