<template>
  <img :src="require(`@/assets/${type}/${name}.png`)" />
</template>

<script>
export default {
  name: "Illustartion",
  props: ["name", "type"]
  //   data() {
  //     return {
  //       images: ["empty"]
  //     };
  //   },
  //   computed: {
  //     pathToImage: function() {
  //         if (this.images)
  //     }
  //   }
};
</script>

<style>
</style>
