<template>
  <div class="flex flex-col h-full justify-center">
    <Illustartion :name="state" type="ui-state" class="w-1/3 self-center" />
    <div class="text-center mt-5 text-lg text-gray-700 select-none">{{ message }}</div>
  </div>
</template>

<script>
export default {
  name: "UIState",
  props: ["state", "message"]
};
</script>

<style>
</style>
