<template>
  <div
    tabindex="1"
    class="select-none cursor-pointer rounded focus:bg-gray-600 focus:outline-none hover:bg-gray-600 text-gray-500 px-5 py-2 mx-2 flex flex-row"
  >
    <Icon :name="icon" size="18" class="self-center m-2" />
    <div class="self-center font-thin tracking-wider">{{ label }}</div>
  </div>
</template>

<script>
export default {
  name: "MenuItem",
  props: ["icon", "label", "action"]
};
</script>

<style>
</style>
