<template>
  <div class="flex flex-col mb-20">
    <MenuItem label="Notes" icon="file-text" />
    <MenuItem label="Bookmarks" icon="bookmark" />
    <MenuItem label="Tags" icon="tag" />
    <MenuItem label="Settings" icon="settings" />
    <MenuItem label="Shortcuts" icon="command" />
  </div>
</template>

<script>
import MenuItem from "./MenuItem";

export default {
  name: "Menu",
  components: {
    MenuItem
  }
};
</script>

<style>
</style>
