<template>
  <div class="h-20 px-5 flex flex-row select-none">
    <Icon name="edit-2" size="24" class="self-center text-yellow-500 m-2" />
    <div class="self-center tracking-wider text-gray-100 font-semibold text-2xl">Nutmeg</div>
  </div>
</template>

<script>
export default {
  name: "Title"
};
</script>

<style>
</style>
