<template>
  <div
    class="rounded bg-gray-600 text-gray-500 p-3 select-none cursor-pointer my-5 mx-2 flex flex-row"
  >
    <img
      src="https://avatars2.githubusercontent.com/u/18097732"
      class="flex-none h-10 w-10 rounded-full mr-2"
    />
    <div class="flex-grow self-center">
      <div class="text-sm font-semibold text-gray-300">Shivam Mishra</div>
      <div class="text-xs">shivam@shivam.dev</div>
    </div>
    <Icon name="chevron-up" size="18" class="flex-none self-center text-gray-300" />
  </div>
</template>

<script>
export default {
  name: "User"
};
</script>

<style>
</style>
