<template>
  <div class="flex">
    <NavigationColumn />
    <ListColumn />
    <Editor />
  </div>
</template>

<script>
import NavigationColumn from "@/components/Navigation/NavigationColumn";
import ListColumn from "@/components/List/ListColumn";
import Editor from "@/components/Note/Editor";
export default {
  name: "Home",
  components: {
    NavigationColumn,
    ListColumn,
    Editor
  }
};
</script>

<style>
</style>
