<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@tailwind base;
@tailwind components;
@tailwind utilities;

.editor__content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.ProseMirror:focus {
  outline: none;
}

.editor__content::before,
.editor__content::after {
  box-sizing: border-box;
}

.editor__content {
  @apply font-sans text-lg leading-normal;
}

.editor__content {
  @apply m-0;
}

.editor__content a {
  color: inherit;
}

.editor__content h1,
.editor__content h2,
.editor__content h3,
.editor__content p,
.editor__content ul,
.editor__content ol,
.editor__content pre,
.editor__content blockquote {
  @apply my-4;
}

.editor__content h1:first-child,
.editor__content h2:first-child,
.editor__content h3:first-child,
.editor__content p:first-child,
.editor__content ul:first-child,
.editor__content ol:first-child,
.editor__content pre:first-child,
.editor__content blockquote:first-child {
  @apply mt-0;
}
.editor__content h1:last-child,
.editor__content h2:last-child,
.editor__content h3:last-child,
.editor__content p:last-child,
.editor__content ul:last-child,
.editor__content ol:last-child,
.editor__content pre:last-child,
.editor__content blockquote:last-child {
  @apply mb-0;
}

.editor__content h1,
.editor__content h2,
.editor__content h3 {
  @apply leading-snug font-bold;
}

.editor__content h1 {
  @apply text-3xl;
}

.editor__content h2 {
  @apply text-2xl;
}

.editor__content h3 {
  @apply text-xl;
}

.editor__content h4 {
  @apply text-lg;
}

.editor__content .button {
  @apply font-bold inline-flex bg-transparent border-0 text-black py-1 px-2 mr-1 cursor-pointer rounded;
}

.editor__content .message {
  @apply p-4 rounded mb-6 italic;
}
</style>
